<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title CSSInstagram
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", href="http://7xp1k3.com1.z0.glb.clouddn.com/octocat-de-los-muertos.jpg")
    body.page        
        section.demo
            div.demo-inputArea
                fieldset.field
                    legend 选择一张图
                    img.demoImg(src="img/superman.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/rose.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/goddess.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/people.jpg", alt="CSSInstagram")
                    br
                    label.inputLabel 在下面复制图片的在线链接:
                        input.inputImg(type="text")
                    label.inputLabel#preview 上传文件
                        input(type="file" multiple="multiple")#filename    
            ul.demoList
                li.demoItem
                    figure
                        img
                        figcaption Null        
                li.demoItem
                    figure._1977
                        img
                        figcaption 1977
                li.demoItem
                    figure.aden
                        img
                        figcaption Aden 
                li.demoItem
                    figure.toaster
                        img
                        figcaption Toaster
                li.demoItem
                    figure.clarendon
                        img
                        figcaption Clarendon    
                li.demoItem
                    figure.xpro2
                        imglegend
                    figure.lofi
                        img
                        figcaption Lofi 
                li.demoItem
                    figure.earlybird
                        img
                        figcaption Earlybird
                li.demoItem
                    figure.rise
                        img
                        figcaption Rise     
                li.demoItem
                    figure.reyes
                        img
                        figcaption Reyes        
                li.demoItem
                    figure.slumber
                        img
                        figcaption Slumber 
                li.demoItem
                    figure.moon
                        img
                        figcaption Moon 这个有bug，暂时找不到解决方法
                li.demoItem
                    figure.nashville
                        img
                        figcaption Nashville   
                li.demoItem
                    figure.perpetua
                        img
                        figcaption Perpetua       
                li.demoItem
                    figure.mayfair
                        img
                        figcaption Mayfair 
                li.demoItem
                    figure.brooklyn
                        img
                        figcaption Brooklyn
                li.demoItem
                    figure.hubson
                        img
                        figcaption Hubson     
                li.demoItem
                    figure.gingham
                        img
                        figcaption Gingham        
                li.demoItem
                    figure.walden
                        img
                        figcaption Walden
                li.demoItem
                    figure.willow
                        img
                        figcaption Willow 有第二个bug
                li.demoItem
                    figure.lark
                        img
                        figcaption Lark 
                li.demoItem
                    figure.inkwell
                        img
                        figcaption Inkwell bug
        p 图侵删                                        
    script(src='./script/img.js')
