<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title CSSInstagram
        link(rel="stylesheet", href="css/main.css")
    body.page        
        section.demo
            div.demo-inputArea
                fieldset.field
                    legend 选择一张图
                        img.demoImg(src="img/atx.jpg", alt="CSSInstagram")
                        img.demoImg(src="img/bike.jpg", alt="CSSInstagram")
                        img.demoImg(src="img/lake.jpg", alt="CSSInstagram")
                        img.demoImg(src="img/tahoe.jpg", alt="CSSInstagram")
                        br
                    label.inputLabel 在下面复制图片的在线链接
                        input.inputImg(type="text")
            ul.demoList
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption #nofilter
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption
                li.demoItem
                    figure
                        img(src="", alt="")
                        figcaption        
                        
