<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title CSSInstagram
        link(rel="stylesheet", href="css/main.css")
    body.page        
        section.demo
            div.demo-inputArea
                fieldset.field
                    legend 选择一张图
                    img.demoImg(src="img/superman.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/rose.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/goddess.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/people.jpg", alt="CSSInstagram")
                    br
                    label.inputLabel 在下面复制图片的在线链接:
                        input.inputImg(type="text")
            ul.demoList
                li.demoItem
                    figure
                        img
                        figcaption        
                li.demoItem
                    figure._1977
                        img
                        figcaption 1977
                li.demoItem
                    figure.aden
                        img
                        figcaption aden 
                li.demoItem
                    figure.toaster
                        img
                        figcaption toaster
                li.demoItem
                    figure.clarendon
                        img
                        figcaption clarendon    
                li.demoItem
                    figure.xpro2
                        img
                        figcaption xpro2        
                li.demoItem
                    figure.lofi
                        img
                        figcaption lofi 
                li.demoItem
                    figure.earlybird
                        img
                        figcaption Earlybird
                li.demoItem
                    figure.rise
                        img
                        figcaption rise     
                li.demoItem
                    figure.reyes
                        img
                        figcaption reyes        
                li.demoItem
                    figure.slumber
                        img
                        figcaption slumber 
                li.demoItem
                    figure.moon
                        img
                        figcaption moon 这个有bug，暂时找不到解决方法
                li.demoItem
                    figure.nashville
                        img
                        figcaption  nashville   
                li.demoItem
                    figure.perpetua
                        img
                        figcaption Perpetua       
                li.demoItem
                    figure.mayfair
                        img
                        figcaption Mayfair 
                li.demoItem
                    figure.brooklyn
                        img
                        figcaption Brooklyn
                li.demoItem
                    figure.hubson
                        img
                        figcaption Hubson     
                li.demoItem
                    figure
                        img
                        figcaption        
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption
        p 图侵删                                        
    script(src='./script/img.js')
