<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title CSSInstagram
        link(rel="stylesheet", href="css/main.css")
    body.page        
        section.demo
            div.demo-inputArea
                fieldset.field
                    legend 选择一张图
                    img.demoImg(src="img/superman.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/rose.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/goddess.jpg", alt="CSSInstagram")
                    img.demoImg(src="img/cake.jpg", alt="CSSInstagram")
                    br
                    label.inputLabel 在下面复制图片的在线链接:
                        input.inputImg(type="text")
            ul.demoList
                li.demoItem
                    figure
                        img
                        figcaption        
                li.demoItem
                    figure._1977
                        img
                        figcaption 1977
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption                                 
                li.demoItem
                    figure
                        img
                        figcaption     
                li.demoItem
                    figure
                        img
                        figcaption        
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption
                li.demoItem
                    figure
                        img
                        figcaption     
                li.demoItem
                    figure
                        img
                        figcaption        
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption
                li.demoItem
                    figure
                        img
                        figcaption     
                li.demoItem
                    figure
                        img
                        figcaption        
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption  
                li.demoItem
                    figure
                        img
                        figcaption     
                li.demoItem
                    figure
                        img
                        figcaption        
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption
                li.demoItem
                    figure
                        img
                        figcaption 
                li.demoItem
                    figure
                        img
                        figcaption
        p 图侵删                                        
    script(src='./script/img.js')
